.search{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: absolute;
    height: 48px;
    left: 290px;
    right: 330px;
    
    background: #FEF6E7;
    border-radius: 10px;

    display: flex;
    align-items: center;
}